data/* filter=lfs diff=lfs merge=lfs -text
data/fb_shares_G.csv filter=lfs diff=lfs merge=lfs -text
data/news_G.csv filter=lfs diff=lfs merge=lfs -text
data/news_NYT.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_i_shares_DM.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_i_shares_NYP.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_shares_G.csv filter=lfs diff=lfs merge=lfs -text
data/fb_shares_DM.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_shares_NYT.csv filter=lfs diff=lfs merge=lfs -text
data/all_prominent_politicians.csv filter=lfs diff=lfs merge=lfs -text
data/all_results_rounded.csv filter=lfs diff=lfs merge=lfs -text
data/data_summary_file.csv filter=lfs diff=lfs merge=lfs -text
data/labour_politicians.txt filter=lfs diff=lfs merge=lfs -text
data/news_DM.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_i_shares_G.csv filter=lfs diff=lfs merge=lfs -text
data/article_topic_keywords.csv filter=lfs diff=lfs merge=lfs -text
data/conservative_politicians.txt filter=lfs diff=lfs merge=lfs -text
data/twitter_i_shares_NYT.csv filter=lfs diff=lfs merge=lfs -text
data/twitter_shares_NYP.csv filter=lfs diff=lfs merge=lfs -text
data/all_results.csv filter=lfs diff=lfs merge=lfs -text
data/article_topics.csv filter=lfs diff=lfs merge=lfs -text
data/fb_shares_NYP.csv filter=lfs diff=lfs merge=lfs -text
data/fb_shares_NYT.csv filter=lfs diff=lfs merge=lfs -text
data/news_NYP.csv filter=lfs diff=lfs merge=lfs -text
data/democrat_politicians.txt filter=lfs diff=lfs merge=lfs -text
data/twitter_shares_DM.csv filter=lfs diff=lfs merge=lfs -text
data/republican_politicians.txt filter=lfs diff=lfs merge=lfs -text
